{% extends "layout.html" %}
{% block title %}Contact Me{% endblock %}
{% block content %}

<h1>Contact Me</h1>

You can use the form below to send me an e-mail. Alternatively you can contact
me on an instant messenger
(<a href="https://otr.cypherpunks.ca/">Off-the-Record</a> optional):<p>

<blockquote>
	<table class="table" style="width: auto" border="0" cellspacing="4" cellpadding="4">
		<tr>
			<td>
				<img src="/static/icons/aim.gif" width="16" height="15" alt="AIM">
			</td>
			<td>
				<strong>AIM:</strong>
			</td>
			<td>
				<a href="aim:goim?ScreenName=Kirsle">Kirsle</a>
			</td>
		</tr>
		<tr>
			<td>
				<img src="/static/icons/xmpp.gif" width="16" height="16" alt="XMPP">
			</td>
			<td>
				<strong>XMPP:</strong>
			</td>
			<td>
				noah@kirsle.net
			</td>
		</tr>
	</table>
</blockquote>

Things that you <strong>SHOULD NOT</strong> use this form for:

<ul>
	<li>Any SEO business solicitations.</li>
	<li>Any advertisement related things. Google AdSense is fine for me, thanks.</li>
</ul>

For anything else:<p>

<form name="contact" action="{{ url_for('contact.send') }}" method="POST">
	<input type="hidden" name="token" value="{{ csrf_token() }}">

	<strong>Your name:</strong><br>
	<small>(so I know who you are)</small><br>
	<input type="text" class="form-control" size="40" name="name"><p>

	<strong>Your email:</strong><br>
	<small>(if you want a response)</small><br>
	<input type="email" class="form-control" size="40" name="email"><p>

	<strong>Message subject:</strong><br>
	<small>(optional)</small><br>
	<input type="text" class="form-control" size="40" name="subject" style="width: 100%"><p>

	<strong>Message:</strong><br>
	<small>(required)</small><br>
	<textarea class="form-control" cols="40" rows="12" name="message" style="width: 100%"></textarea><p>

	<button type="submit" class="btn btn-primary">Send Message</button>

	<div style="display: none">
		If you can see these boxes, don't touch them.<br>
		<input type="text" size="40" name="contact" value=""><br>
		<input type="text" size="40" name="website" value="http://">
	</div>
</form>

{% endblock %}
