{% extends "layout.html" %}
{% block title %}About Me{% endblock %}
{% block content %}

<h1>About Me</h1>

My name is Noah and this is my website. I am a software engineer who lives in
Los Angeles. My areas of expertise are primarily in Perl and Python back-end
software development, however I believe I have a knack for the front end as well.<p>

I built Kirsle.net from the ground up. I made the web design in Photoshop and
pieced it together using standards compliant HTML 5.0 (the spec, not the
buzzword), CSS and a little bit of JavaScript. The back end is entirely written
in Python.<p>

The code supports a web blog, photo albums, and comments. It's also an open
source project of mine that I call Rophako. You can
<a href="https://github.com/kirsle/rophako">clone it on Github</a>.<p>

Besides being a rockstar at back end development and a pretty decent web designer,
I've dabbled in some 3D modeling, Flash animation and other artistic things.
You can find them under the "Creativity" section on the left navigation. :)<p>

Some of my personal projects are listed under the "Software" section to your
left. The rest you'll find on my GitHub page and CPAN profile. 

{% endblock %}