{% extends "layout.html" %}
{% block title %}About Me{% endblock %}
{% block content %}

<h1>About Me</h1>

<div class="row">
	<div class="col-lg-2">
		<img src="/static/photos/ff7ec4f5.jpg" class="img-responsive portrait" alt="Kirsle"><p>

		<img src="/static/icons/aim.gif" width="16" height="15" alt="AIM">
		<strong>AIM:&nbsp;&nbsp;&nbsp;</strong>
		<a href="aim:goim?ScreenName=Kirsle">Kirsle</a><br>

		<img src="/static/icons/xmpp.gif" width="16" height="16" alt="XMPP">
		<strong>XMPP:</strong>
		kirsle@kirsle.net<p>

		&#0164; <a href="/contact">Send me an e-mail</a>
	</div>

	<div class="col-lg-10">
		<h2>Hello world!</h2>

		My name is <strong>Noah</strong> and this is my website. I am a 29-year-old software
		engineer who lives in Los Angeles. My areas of expertise are primarily in Perl and
		Python back-end software development, however I believe I have a knack for the front
		end as well.<p>

		I built Kirsle.net from the ground up. Its back-end code has been rewritten a
		dozen different times, in two different languages. I made the web design in Photoshop and
		pieced it together using standards compliant HTML 5 (the spec, not the
		buzzword), CSS and a little bit of JavaScript. The back end is entirely written
		in Python. The previous version of Kirsle.net was written in Perl and ran on my
		"PerlSiikir" CMS. I rewrote it in Python
		<a href="/blog/entry/goodbye-perlsiikir">for various reasons</a>, and I like Python
		more these days anyway. <img src="/static/smileys/tango/wink.png" alt=";)"><p>

		Besides being a rockstar at back end development and a pretty decent web designer,
		I've dabbled in some 3D modeling, Flash animation and other artistic things.
		You can find them under the "Creativity" section on the left navigation. :)<p>

		Some of my personal projects are listed under the "Software" section to your
		left. The rest you'll find on my
		<a href="https://github.com/kirsle">GitHub page</a> and
		<a href="http://search.cpan.org/~kirsle">CPAN profile</a>.

		<h2>Kirsle?</h2>

		Where did I come up with the name Kirsle? Long-ish story, but here's the cliffnotes:

		<ul>
			<li>In 1997 when the Internet was still brand new, They didn't want us
				using our real names online so I always went by one screen name or
				another.</li>
			<li>The game <em>NiGHTS: Into Dreams...</em> for the Sega Saturn had an
				enemy on some levels named Kircle, and I liked the name but I read
				it as though the "C" were pronounced like an "S". Nonetheless, it
				became my screen name.</li>
			<li>People often pronounced it with a hard "C". The last straw was when
				I discovered that Text-to-Speech software also pronounced it this way.</li>
			<li>I re-spelled it as Kirsle so it was spelled how I wanted it to be
				pronounced.</li>
			<li>In doing so, I created the most unique name ever. All of the Google
				search results for Kirsle are about me!</li>
		</ul>

		Later on I turned Kirsle into a full Internet alias/fake name of
		Casey Kirsle, which I used as my name for several years online (some of
		my older Perl modules on CPAN are signed by this name). <em>That</em> was
		mostly because I like the name Casey, and Kirsle could plausibly sound like
		a last name. <img src="/static/smileys/tango/wink.png" alt=";)"><p>

		<h2>Kirsle.net is Open Source</h2>

		The Python code that powers Kirsle.net is an open source project of mine named
		<a href="http://rophako.kirsle.net/">Rophako</a>. It means "Website" in
		<a href="/wizards/translator.html">Azulian</a>. The Rophako CMS is open source
		software that I released under the GNU General Public License and you can
		<a href="https://github.com/kirsle/rophako">clone it on GitHub</a>. The HTML
		files for Kirsle.net are <a href="https://github.com/kirsle/kirsle.net">also
		on GitHub</a>, but those probably aren't very interesting to you.<p>

		The CMS supports a web blog, photo albums, comments, and subscriptions to comments
		(so that your guests can watch a comment thread for future posts by others). I'm
		always improving it and adding new features.
	</div>
</div>

{% endblock %}
