{% extends "layout.html" %}
{% block title %}Error Message Generator{% endblock %}
{% block content %}

<h1>Error Message Generator</h1>

<ul>
	<li><a href="#intro">Project Description</a></li>
	<li><a href="#screenshots">Screenshots</a></li>
	<li><a href="#zenmsg">ZenMsg</a></li>
	<li><a href="#license">License</a></li>
	<li><a href="#downloads">Downloads</a></li>
</ul>

	<a name="intro"></a>
	<img src="projects/ErrorGen/logo.png" alt="ErrorGen" width="400" height="90">
	<h2>Project Description</h2>

	The <strong>Error Message Generator</strong> (ErrorGen) is a simple
	program that generates customized error dialogs. The idea was inspired
	by a web-based error generator which created <em>images</em> of error
	boxes. My program, however, creates "real" error boxes that can be
	dragged around the screen and interacted with.<p>

	The command-line, scriptable version of Error Message Generator is called
	<strong>ZenMsg</strong>, named after the GNOME utility, Zenity. It's
	a version of the generator that can be provoked from batch files and
	scripts.

	<h3>Features</h3>

	<ul>
		<li>Fully customizable error box: select the title, icon,
		and message.</li>
		<li>Create up to THREE buttons for the error box and specify
		what each of them say, and which ones are "greyed out"</li>
		<li>Advanced features to make the error keep coming back until
		the right button is selected.</li>

		<li>A button that minimizes and renames the control window,
		leaving only the error dialog visible on screen.</li>
	</ul>

	<a name="screenshots"></a>
	<h2 style="margin-top: 0px">Screenshots</h2>

	<table border="0" cellspacing="0" cellpadding="0" style="margin-left: auto; margin-right: auto">
		<tr>
			<td align="center" valign="top">

				<a href="projects/ErrorGen/ErrorGen.jpg">
				<img src="projects/ErrorGen/ErrorGenS.jpg" width="600" height="364" alt="Screenshot">
				</a><br>
				ErrorGen in action, surrounded by example error messages.<br>
				(click for a larger version)
			</td>
		</tr>
	</table>

	<a name="zenmsg"></a>
	<h2 style="margin-top: 0px">ZenMsg</h2>

	ZenMsg is a command-line version of Error Message Generator that
	can be invoked by batch files or scripts. Example usage:

	<pre style="overflow-x: auto">ZenMsg --error -t "An error has occurred." -b "Abort" -b "Retry" -b "Fail"</pre>

	The executable comes with an HTML help file. <code>ZenMsg -?</code>
	will display the same help file at the command line. The document
	describes how to use ZenMsg.<p>

	There is no binary Linux version of this utility. The source code
	however is available and will execute under Linux; I've just not
	compiled a standalone executable (there are a handful of other
	utilities that do the job: see
	<a href="http://live.gnome.org/Zenity">Zenity</a>. Source code
	is available on the Downloads tab.

	<h3>Windows Executable</h3>

	<blockquote>
	<img src="images/dos.png" width="32" height="32" alt="Win32" style="vertical-align: middle">
	<a href="/download?type=bin&amp;project=ZenMsg&amp;file=ZenMsg-0.01-bin.zip">
	Download ZenMsg</a><br>

	Version 0.01 - 2008/09/18<br>
	<small>ZIP format/3.6 MB</small>
	</blockquote>

	<a name="license"></a>
	<h2 style="margin-top: 0px">Software License</h2>

<pre>    Error Message Generator
    Copyright (C) 2008  Casey Kirsle

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.</pre>

	<a name="downloads"></a>
	<h2 style="margin-top: 0px">Downloads</h2>

	It's recommended that you download the latest version of this software
	as listed below. To download older versions and source code, skip to
	the next section.

	<h3>Windows Executable</h3>

	<blockquote>
	<img src="images/dos.png" width="32" height="32" alt="Win32" style="vertical-align: middle">
	<a href="/download?type=bin&amp;project=ErrorGen&amp;file=ErrorGen-1.2_bin.zip">

	Download Error Message Generator</a><br>
	Version 1.2 - 2007/06/28<br>
	<small>ZIP format/2.1 MB</small>
	</blockquote>

	<h3>Linux Binary</h3>

	<blockquote>

	<img src="images/exec.png" width="32" height="32" alt="Linux" style="vertical-align: middle">
	<a href="/download?type=bin&amp;project=ErrorGen&amp;file=ErrorGen-1.2_linux.tar.gz">
	Download Error Message Generator</a><br>
	Version 1.2 - 2007/06/28<br>
	<small>TAR.GZ format/4.6 MB</small>
	</blockquote>

	<h2>All Distributions</h2>

	The following are all the distributions available for this software,
	starting with the most recent. Source code is also available for all
	versions.<p>

	<table border="0" cellspacing="2" cellpadding="2" class="distro">
<tr>
<th>Release</th>
<th>Windows EXE</th>
<th>Linux Binary</th>
<th>Source Code</th>
</tr>

<tr>
<td>
<b>ErrorGen 1.2</b><br>
<small>2007/06/28</small>
</td>
<td>
<img src="images/dos.png" width="32" height="32" alt="Win32">
<a href="/download?type=bin&amp;project=ErrorGen&amp;file=ErrorGen-1.2_bin.zip">ErrorGen 1.2</a><br>
<small>(ZIP; 2.1 MB)</small>
<td>
<img src="images/exec.png" width="32" height="32" alt="Linux">
<a href="/download?type=bin&amp;project=ErrorGen&amp;file=ErrorGen-1.2_linux.tar.gz">ErrorGen 1.2</a><br>

<small>(TAR.GZ; 4.6 MB)</small>
<td>
<img src="images/perl.png" width="32" height="32" alt="Perl Source">
<a href="/download?type=gpl&amp;project=ErrorGen&amp;file=ErrorGen-1.2_src.tar.gz">ErrorGen 1.2</a><br>
<small>(TAR.GZ; 114.1 KB)</small>
</tr>
<tr>
<td>
<b>ZenMsg 0.01</b><br>
<small>2008/09/18</small>
</td>
<td>

<img src="images/dos.png" width="32" height="32" alt="Win32">
<a href="/download?type=bin&amp;project=ZenMsg&amp;file=ZenMsg-0.01-bin.zip">ZenMsg 0.01</a><br>
<small>(ZIP; 3.6 MB)</small>
<td>
<img src="images/exec.png" width="32" height="32" alt="Linux">
<em>Not available.</em>
<td>
<img src="images/perl.png" width="32" height="32" alt="Perl Source">
<a href="/download?type=gpl&amp;project=ZenMsg&amp;file=ZenMsg-0.01-src.zip">ZenMsg 0.01</a><br>
<small>(ZIP; 13 KB)</small>
</tr>
</table>

{% endblock %}
