{% extends "layout.html" %}
{% block title %}TrueType Fonts{% endblock %}
{% block content %}

<h1>TrueType Fonts</h1>

Here are the few TTF font files I've created, in the chronological order of their
creation.

<h2>Azulian</h2>

<img src="/projects/TTF/azulian.png" width="300" height="100"><p>

This is the first font I've created. The characters were based off the original
design for the Azulian language set. I don't remember what program I created this
font in, but it sucked and I had to actually use two different programs, because
one of them wouldn't allow the final TTF file to be created. At any rate, I later
abandoned this font for a new Azulian set that looks a lot less like English.<p>

&#0164; <a href="/download?project=TTF&file=Azulian.zip">Download Azulian.ttf</a> (ZIP; 16.8 KB)

<h2>Azulian Nexus</h2>

<img src="/projects/TTF/nexus.png" width="300" height="100"><p>

This is the new font for the Azulian language. It was created in Macromedia
Fontographer 4.<p>

&#0164; <a href="/download?project=TTF&file=Nexus.zip">Download Nexus.ttf</a> (ZIP; 11.4 KB)

<h2>Rive</h2>

<img src="/projects/TTF/rive.png" width="300" height="100"><p>

The characters for this font were drawn by my friend Barry and I to use on a
website that we never got around to creating.<p>

&#0164; <a href="/download?project=TTF&file=Rive.zip">Download Rive.ttf</a> (ZIP; 13.7 KB)

<h2>Lorelei</h2>

<img src="/projects/TTF/lorelei.png" width="300" height="100"><p>

I created this font in Fontographer while developing some ideas for this story
about Lorei, the Nightmare Realm. I felt like creating a new non-English language
for it, and this font resulted from it. I think this font has considerably less
letters than are in the English alphabet and I did that on purpose.<p>

&#0164; <a href="/download?project=TTF&file=Lorelei.zip">Download Lorelei.ttf</a> (ZIP; 7.66 KB)

{% endblock %}