{% extends "layout.html" %}
{% block title %}Creative JavaScripts{% endblock %}
{% block content %}

<h1>Creative JavaScripts</h1>

This page contains links to my creative JavaScript pages. This page is <b>not</b>
intended to provide cut-and-paste JavaScript code for your own personal use.
In many cases, the scripts here were specially programmed for my own purposes
and are not easily reconfigurable to suit other needs. In other words, this page
is to show off my JavaScript skills, not to provide code snippits to enable
less-than-savvy Internet users the ammunition needed to clone my scripts.

<h2>Text-Based RPG Game</h2>

This is a classic-style text-based roleplaying game programmed entirely in
JavaScript. It's known to work on Internet Explorer and Firefox. This script
uses key capturing and updates the page with all of the (relevant) keys you type
in. It even supports the Backspace key to delete the last character you typed.
I recommend opening this in a new window so that your Backspace key won't be
mistaken for the "Back" button on your browser.<p>

I created this script as part of my web design course in college. The assignment
was to "find or create a JavaScript to impress," and since it was obvious that
all the noobs would just go to cut-and-paste JavaScript sites, the best way to
come up with something totally original was to make a game out of it. And not the
lame kind of game like Tetris and Tic-Tac-Toe, which get reprogrammed far too
often in the JavaScript world, but a roleplaying game that requires a lot of
programming and attention to detail.<p>

&#0164; <a href="creativity/javascript/jsrpg.html" onClick="return openWin(this)">
    View this script in action</a><p>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
function openWin(obj) {
    window.open (obj.href);
    return false;
}
</script>
{% endblock %}