{% extends "layout.html" %}
{% block title %}Metacity Desktop Themes{% endblock %}
{% block content %}

<h1>Metacity Desktop Themes</h1>

These are some themes for the Metacity window manager on the GNOME desktop. If
you don't know what that is, then you probably aren't a Linux user, and you can
ignore the existence of this page.

<h2>RazrFX</h2>

<img src="/projects/Metacity/razr.png" width="272" height="57" alt="RazrFX"><p>

This is my first hand-drawn Metacity theme (Zune and Lunacity were derived from screenshots). The intent
was to have a thin but good-looking Metacity theme. This one adamantly keeps a 20 pixel height on the
title bar, regardless of your font size (read: use 10pt title font size or smaller).<p>

&#0164; <a href="/download?type=gpl&project=Metacity&file=Metacity-RazrFX-0.02.tar.gz">RazrFX 0.02</a>
    (TAR.GZ; 46.4 KB)

<h2>Zune</h2>

<img src="/projects/Metacity/zune.png" width="274" height="68" alt="Zune"><p>

It's the Windows XP Zune theme for Metacity. There's also an XFWM4 theme for
users who use the XFCE desktop environment.<p>

&#0164; <a href="/download?project=Metacity&file=Metacity-Zune-0.02.tar.gz">Zune 0.02</a>
    (TAR.GZ; 27.4 KB)

<h2>Lunacity</h2>

<img src="/projects/Metacity/Luna/blue.png" width="274" height="68" alt="Lunacity Blue"><br>
<img src="/projects/Metacity/Luna/olive.png" width="274" height="68" alt="Lunacity Olive Green"><br>
<img src="/projects/Metacity/Luna/silver.png" width="274" height="68" alt="Lunacity Silver"><br>
<img src="/projects/Metacity/Luna/pink.png" width="274" height="68" alt="Lunacity Pink"><p>

These are Metacity clones of the default Luna themes for Windows XP. Oh, and
there's also a pink version of Luna Silver.<p>

&#0164; <a href="/download?project=Metacity&file=Metacity-Lunacity-0.02.tar.gz">Lunacity 0.02</a>
    (TAR.GZ; 75.5 KB)

<h1>XFWM4 Desktop Themes</h1>

These themes are for XFCE's window manager <strong>only</strong> and not Metacity.

<h2>Sun OpenSolaris Nimbus</h2>

<img src="/projects/Metacity/nimbus.png" width="308" height"80" alt="Nimbus"><p>

This is a port of the Nimbus theme from OpenSolaris to XFWM4. I didn't realize
until <em>after</em> I completed this theme that somebody else had already
done it. So, I decided to 1up that person and add the other XFWM4 window
buttons for "shade" and "stick". They look like the Nimbus buttons but are
teal and purple.<p>

Also there's a second version I made (also named Nimbus, so only install one at
a time) that shows application icons instead of the normal menu button.<p>

&#0164; <a href="/download?project=Metacity&file=XFWM4-Nimbus-0.04.tar.gz">Nimbus 0.04</a>
    (TAR.GZ; 24 KB)<br>
&#0164; <a href="/download?project=Metacity&file=XFWM4-Nimbus-MenuIcon.tar.gz">Nimbus w/ App Icons</a>
    (TAR.GZ; 22 KB)

{% endblock %}