{% extends "layout.html" %}
{% block title %}MS-DOS{% endblock %}
{% block content %}

<h1>MS-DOS &amp; Software</h1>

This page contains download links for a very old Microsoft operating system so
that it can be preserved -- on this corner of the Internet, anyway -- for
anyone who is curious to tinker with the first versions of Windows or who just
wants to take a trip down Nostalgia Avenue.<p>

The operating systems here are distributed as floppy disk image files (with an
.img extension). If you actually have a floppy drive, you'll have to flash
these images onto floppy disks. If you just want to use
<a href="http://www.virtualbox.org/">VirtualBox</a>, it can make use of the
floppy image files directly.<p>

<img src="/creativity/articles/doswin31_thumb.jpg">

<h2>MS-DOS 6.22</h2>

The last version of MS-DOS from the Windows 3.1 era, before Windows 95.<p>

&#0164; <a href="/download?project=DOS&file=MS-DOS-6.22.zip">Download</a> (.zip, 3.5 MB)

<h2>Windows for Workgroups 3.11</h2>

The first version of Windows to support TCP/IP networking.<p>

<strong>Disk images (*.img files) for use with VirtualBox or flashing to floppy disks:</strong><p>

&#0164; <a href="/download?project=DOS&file=WfW-3.11.zip">Download</a> (.zip, 10.3 MB)<p>

<strong>Unpacked disk images (ZIP file containing all files from all disks in one folder,
maybe useful for DOSBox installations):</strong><p>

&#0164; <a href="/download?project=DOS&file=WfW-3.11-unpacked.zip">Download</a> (.zip, 11 MB)

<h2>Hardware Drivers for VirtualBox</h2>

These are some hardware drivers for DOS and Windows 3.x that are known to work
with VirtualBox's emulated hardware. Drivers include:

<ul>
	<li>CD-ROM driver</li>
	<li>DOSIDLE to make MS-DOS stop consuming 100% CPU</li>
	<li>WQGHLT to make Windows 3.x stop consuming 100% CPU</li>
	<li>SoundBlaster 16 as a CD image (requires the CD-ROM driver)</li>
</ul>

&#0164; <a href="download?project=DOS&file=DOS-Drivers.zip">Download</a> (.zip, 4.0 MB)<p>

<h1>Comments</h1>

For tips, tricks, or to leave comments, see the relevant blog post "<a href="/blog/kirsle/ms-dos-and-windows-3-1">MS-DOS and Windows 3.1</a>". The comments on that blog post are shared to this page as well (so comments on either page show up in both places).<p>

{{ include_page("comment.partial_index",
	thread="blog-42",
	subject="MS-DOS",
	header=False,
) | safe }}

{% endblock %}
