{% extends "layout.html" %}
{% block title %}3D Renderings{% endblock %}
{% block content %}

<h1>3D Renderings</h1>

This page contains some of my better 3D renderings. Most of these images were
modeled more or less in AutoCAD 2006 and rendered in 3DS Max 8.<p>

<table border="0" cellspacing="10" cellpadding="0">
    <tr>
        <td align="center" valign="top">
            <a href="/creativity/rendered/kawar.jpg">
            <img src="/creativity/rendered/kawar-thumb.jpg"
            width="300" height="225" alt="Kanian/Azulian War" class="portrait">
            </a><br>
            Resolution: 800x600
        </td>
        <td align="left" valign="top">
            <h2 class="top">Kanian/Azulian War</h2>
            I made this in one of my high school CAD classes. It's
            a 3D rendering of a scene from the Kanian/Azulian War.
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <a href="/creativity/rendered/kanian.jpg">
            <img src="/creativity/rendered/kanian-thumb.jpg"
            width="300" height="225" alt="Kanians" class="portrait">
            </a><br>
            Resolution: 800x600
        </td>
        <td align="left" valign="top">
            <h2 class="top">The Kanians</h2>
            I also made this in one of my high school CAD classes.
            It's just an artsy picture of the Kanians, showing the
            evil, neutral, and angelic varieties.
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <a href="/creativity/rendered/bob.jpg">
            <img src="/creativity/rendered/bob-thumb.jpg"
            width="300" height="225" alt="Bob-Omb Battlefield" class="portrait">
            </a><br>
            Resolution: 800x600
        </td>
        <td align="left" valign="top">
            <h2 class="top">Bob-Omb Battlefield</h2>
            This originally started out to be just a gang of shiny
            Bob-Ombs. The next idea was to put them on a bright green
            Mario64-style terrain, and then it was only natural to
            create some of the other Mario baddies and throw them in
            there. Those include the Chain Chomp and Goombas, and also
            a life mushroom and a warp pipe.
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <a href="/creativity/rendered/hotel.jpg">
            <img src="/creativity/rendered/hotel-thumb.jpg"
            width="300" height="225" alt="Hotel Suite" class="portrait">
            </a><br>
            Resolution: 720x540
        </td>
        <td align="left" valign="top">
            <h2 class="top">Hotel Suite</h2>
            I made this for my MITES project in my senior year CAD
            class. It got me 1st place in the regional competition
            and 4th in the state competition, and also a "Best of
            Architectural Award" on the regional. I didn't even take
            architectural CAD, which makes it that much cooler that
            I got that award.
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <a href="/creativity/rendered/battlefield.jpg">
            <img src="/creativity/rendered/battlefield-thumb.jpg"
            width="300" height="225" alt="Virtual Battlefield" class="portrait">
            </a><br>
            Resolution: 1024x768
        </td>
        <td align="left" valign="top">
            <h2 class="top">Virtual Battlefield</h2>
            I made this one just for fun. It's a virtual battlefield
            being "materialized" into existence. You can even see some
            of the wire frame in the parts that hadn't been materialized
            yet. It's kinda <em>Code Lyoko</em> style.
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <a href="/creativity/rendered/island.jpg">
            <img src="/creativity/rendered/island-thumb.jpg"
            width="300" height="225" alt="Island Invasion" class="portrait">
            </a><br>
            Resolution: 1024x768
        </td>
        <td align="left" valign="top">
            <h2 class="top">Island Invasion</h2>
            During my first quarter of college, I had this really lame
            class called <em>Problem Solving</em>. During a particularly
            slow day, I discovered the school computers had AutoCAD and
            3DS Max, and I created and rendered this drawing before the
            end of class that day.
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <a href="/creativity/rendered/nupiter.jpg">
            <img src="/creativity/rendered/nupiter-thumb.jpg"
            width="300" height="225" alt="Sunrise on Nupiter">
            </a><br>
            Resolution: 1024x768
        </td>
        <td align="left" valign="top">
            <h2 class="top">Sunrise on Nupiter</h2>
            This one was actually drawn entirely in Photoshop, but it
            looks like it would fit in well with these other 3D renderings.
            The idea was to make a planetary kind of picture from the view
            of some unknown planet. The planet itself was taken from a desert
            scene (with any plant life photoshopped out).
        </td>
    </tr>
</table>

{% endblock %}
