{% extends "layout.html" %}
{% block title %}TkCalc{% endblock %}
{% block content %}

<h1>Tk Calculator</h1>

<ul>
    <li><a href="#intro">Project Description</a></li>
    <li><a href="#screenshots">Screenshots</a></li>
    <li><a href="#license">License</a></li>
    <li><a href="#downloads">Downloads</a></li>
</ul>

    <a name="intro"></a>
    <img src="projects/tkcalc/logo.png" alt="tkcalc" width="400" height="90">
    <h2>Project Description</h2>

    The <strong>Perl/Tk Calculator</strong> is a simple graphical calculator
    program I wrote in Perl using the Tk GUI toolkit, hence its name. That's
    about as creative as it gets.<p>

    The calculator performs a lot of mathematical functions, and can even
    plot graphs and then tell you all the points that it plotted on said
    graph.

    <h3>Features</h3>

    <ul>
        <li>Performs math functions.</li>
        <li>Unlike the Windows calculator, you can enter full equations
        in this and they're displayed on-screen at all times.</li>
        <li>Buttons can be clicked to insert math operators, or you can
        type them yourself with the keyboard.</li>

        <li>Generate graphs of functions and display it, and return all
        the points that it plotted on the graph.</li>
    </ul>

    <a name="screenshots"></a>
    <h2 style="margin-top: 0px">Screenshots</h2>

    <table border="0" cellspacing="0" cellpadding="0" style="margin-left: auto; margin-right: auto">
        <tr>
            <td align="center" valign="top">

                <img src="projects/tkcalc/ss01.jpg" width="616" height="434" alt="Screenshot"><br>
                tkcalc in action, showing two of the program's tabs.
            </td>
        </tr>
    </table>

    <a name="license"></a>
    <h2 style="margin-top: 0px">Software License</h2>

<pre>    Perl/Tk Calculator
    Copyright (C) 2008  Casey Kirsle

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.</pre>

    <a name="downloads"></a>
    <h2 style="margin-top: 0px">Downloads</h2>

    It's recommended that you download the latest version of this software
    as listed below. To download older versions and source code, skip to
    the next section.

    <h3>Windows Executable</h3>

    <blockquote>
    <img src="images/dos.png" width="32" height="32" alt="Win32" style="vertical-align: middle">
    <a href="/download?type=bin&amp;project=tkcalc&amp;file=tkcalc-1.1_bin.zip">

    Download Tk Calculator</a><br>
    Version 1.1 - 2006/12/18<br>
    <small>ZIP format/3.5 MB</small>
    </blockquote>

    <h3>Linux Binary</h3>

    <blockquote>

    <img src="images/exec.png" width="32" height="32" alt="Linux" style="vertical-align: middle">
    <a href="/download?type=bin&amp;project=tkcalc&amp;file=tkcalc-1.1_linux.tar.gz">
    Download Tk Calculator</a><br>
    Version 1.1 - 2006/12/18<br>
    <small>TAR.GZ format/4.4 MB</small>
    </blockquote>

    <h2>All Distributions</h2>

    The following are all the distributions available for this software,
    starting with the most recent. Source code is also available for all
    versions.<p>

    <table border="0" cellspacing="2" cellpadding="2" class="distro">
<tr>
<th>Release</th>
<th>Windows EXE</th>
<th>Linux Binary</th>
<th>Source Code</th>
</tr>

<tr>
<td>
<b>1.1</b><br>
<small>2006/12/18</small>
</td>
<td>
<img src="images/dos.png" width="32" height="32" alt="Win32">
<a href="/download?type=bin&amp;project=tkcalc&amp;file=tkcalc-1.1_bin.zip">tkcalc 1.1</a><br>
<small>(ZIP; 3.5 MB)</small>
<td>
<img src="images/exec.png" width="32" height="32" alt="Linux">
<a href="/download?type=bin&amp;project=tkcalc&amp;file=tkcalc-1.1_linux.tar.gz">tkcalc 1.1</a><br>

<small>(TAR.GZ; 4.4 MB)</small>
<td>
<img src="images/perl.png" width="32" height="32" alt="Perl Source">
<a href="/download?type=gpl&amp;project=tkcalc&amp;file=tkcalc-1.1_src.zip">tkcalc 1.1</a><br>
<small>(ZIP; 6.0 KB)</small>
</tr>
<tr>
<td>
<b>1.0</b><br>
<small>2006/12/05</small>
</td>
<td>

<img src="images/dos.png" width="32" height="32" alt="Win32">
<a href="/download?type=bin&amp;project=tkcalc&amp;file=tkcalc-1.0_bin.zip">tkcalc 1.0</a><br>
<small>(ZIP; 3.5 MB)</small>
<td>
<img src="images/exec.png" width="32" height="32" alt="Linux">
<em>Not available.</em>
<td>
<img src="images/perl.png" width="32" height="32" alt="Perl Source">
<a href="/download?type=gpl&amp;project=tkcalc&amp;file=tkcalc-1.0_src.zip">tkcalc 1.0</a><br>
<small>(ZIP; 6.0 KB)</small>
</tr>
</table>

{% endblock %}