{{ define "title" }}Untitled Page{{ end }}
{{ define "content" }}
<h1>Wiki</h1>

Redirecting to <a href="/wiki/Main-Page">Main Page</a>

<script>
(function() {
	window.location = "/wiki/Main-Page";
})();
</script>
{{ end }}