/* Monokai Bright highlight theme, converted from
 * http://tmtheme-editor.herokuapp.com/#/theme/Monokai%20Bright
 * Using: https://github.com/davinche/pygments-from-tmtheme
 */
.highlight { color: #F8F8F2; }
.highlight .ge { font-style: italic; }
.highlight .gs { font-weight: bold; }
.highlight .c { color: #75715E; }
.highlight .cp { color: #75715E; }
.highlight .c1 { color: #75715E; }
.highlight .cs { color: #75715E; }
.highlight .cm { color: #75715E; }
.highlight .m { color: #AE81FF; }
.highlight .mf { color: #AE81FF; }
.highlight .mi { color: #AE81FF; }
.highlight .mo { color: #AE81FF; }
.highlight .se { color: #AE81FF; }
.highlight .kc { color: #AE81FF; }
.highlight .k { color: #66D9EF; font-style: italic; }
.highlight .kd { color: #66D9EF; font-style: italic; }
.highlight .kn { color: #F92672; }
.highlight .kt { color: #66D9EF; font-style: italic; }
.highlight .s { color: #E6DB74; }
.highlight .sb { color: #E6DB74; }
.highlight .sc { color: #E6DB74; }
.highlight .sd { color: #E6DB74; }
.highlight .s2 { color: #E6DB74; }
.highlight .sh { color: #E6DB74; }
.highlight .si { color: #E6DB74; }
.highlight .sx { color: #E6DB74; }
.highlight .sr { color: #E6DB74; }
.highlight .s1 { color: #E6DB74; }
.highlight .ss { color: #E6DB74; }
.highlight .na { color: #A6E22E; }
.highlight .nc { color: #A6E22E; font-style: italic; text-decoration: underline; }
.highlight .no { color: #AE81FF; }
.highlight .nd { color: #A6E22E; text-decoration: underline; }
.highlight .ne { color: #A6E22E; text-decoration: underline; }
.highlight .nf { color: #A6E22E; }
.highlight .nt { color: #F92672; }
.highlight .nv { color: #F8F8F2; }
.highlight .ow { color: #F92672; }
.highlight .o { color: #F92672; }
.highlight .n { color: #F8F8F2; }
.highlight .nl { color: #F8F8F2; }
.highlight .nn { color: #F8F8F2; }
.highlight .nx { color: #F8F8F2; }
.highlight .bp { color: #F8F8F2; }
.highlight .p { color: #F8F8F2; }

/* Kirsle.net overrides */
.highlight { background-color: transparent }
