body {
 background-color: #000000;
 background-image: url("starrysky.jpg");
 background-repeat: repeat;
 background-position: top left;
 font-family: Verdana,Arial,Helvetica,sans-serif;
 font-size: small;
 color: #CCCCCC;
 margin: 0px;
 margin-bottom: 20px
}
a:link, a:visited {
 color: #99CCFF;
 text-decoration: underline;
}
a:hover, a:active {
 color: #FFCCFF
}
.cv-leftnav-body a:link, .cv-leftnav-body a:visited {
 font-weight: bold;
 font-size: x-small
}
a img {
 border: 0px
}
h1,h2,h3,h4 {
 font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
 font-weight: bold;
 color: #FFFFFF
}
h1.top, h2.top, h3.top, h4.top {
 margin-top: 0px;
}
h1 {
 margin-top: 0px;
 font-size: 24pt;
 font-weight: bold
}
h2 {
 font-size: 18pt
}
h3 {
 font-size: 18pt;
 font-style: italic
}
h4 {
 font-size: 16pt;
 font-style: italic
}
pre {
 display: block;
 border: 1px dashed #CCCCCC;
 padding: 5px;
 font-family: "Lucida Console","DejaVu LGC Sans Mono","DejaVu Sans Mono","Bistream Vera Sans Mono",monospace;
 font-size: 10pt;
 color: #00CCCC
}
pre.notes {
 height: 300px;
 overflow: auto
}
code {
 display: inline;
 font-family: "Lucida Console","DejaVu LGC Sans Mono","DejaVu Sans Mono","Bistream Vera Sans Mono",monospace;
 font-size: 9pt;
 color: #00CCCC
}

/* A logo for the printed page */
.logo-printed {
 display: none
}

/* Copyright block */
.copyright {
 text-align: center;
 font-size: x-small;
 font-weight: bold;
 color: #999999;
 margin-top: 50px
}

/******************************************************************************
 * Software Design Styles                                                     *
 ******************************************************************************/

.distro {
 border: 1px solid #CCCCCC
}
.distro th {
 width: 150px;
 text-align: center;
 vertical-align: top
}
.distro td {
 width: 150px;
 text-align: center;
 vertical-align: top;
 border: 1px solid #808080
}
.distro td img {
 float: left
}

.sw-tab-wrapper {
  display: block
}
.sw-tab-top {
  padding-left: 16px;
}
.sw-tab-frame {
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999
}
.sw-tab-content {
  padding: 5px
}
.sw-tab-active {
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  margin-right: 10px
}
.sw-tab-normal {
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  margin-right: 10px
}
.sw-tab-active span, .sw-tab-normal span {
  padding-left: 4px;
  padding-right: 4px
}
.sw-tab-active a:link, .sw-tab-active a:visited,
.sw-tab-normal a:link, .sw-tab-normal a:visited {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: small;
  font-weight: normal;
  text-decoration: none;
}


/******************************************************************************
 * Starburst CMS Mandated Style Classes for the Web Blog                      *
 ******************************************************************************/

.sblog-title {
 display: block;
 margin-bottom: 0px;
 margin-top: 15px;
 font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
 font-size: 24pt;
 font-weight: bold
}
.sblog-title a:link, .sblog-title a:visited {
 color: #FFFFFF;
 text-decoration: none
}
.sblog-title a:hover, .sblog-title a:active {
 color: #FFFFFF;
 text-decoration: underline
}

/******************************************************************************
 * Cuvou.com Web Design Styles                                                *
 ******************************************************************************/

/*-------------------------------------*
 * Background and Logo Styles          *
 *-------------------------------------*/

/* The main starburst BG image */
.cv-starburst {
 z-index: 100;
 position: absolute;
 top: 0px;
 left: 0px;
 width: 750px;
 height: 579px;
 background-image: url("starburst.jpg");
 background-repeat: no-repeat;
 background-position: top left
}

/* The container for the logo */
.cv-logo {
 z-index: 150;
 position: absolute;
 top: 0px;
 left: 236px;
 width: 403px;
 height: 145px;
 padding: 0px
}

/*-------------------------------------*
 * Left Navigation Bar                 *
 *-------------------------------------*/

/* The wrapper that holds the left navigation panel */
.cv-leftnav-wrapper {
 z-index: 200;
 position: absolute;
 top: 159px;
 left: 25px;
 width: 174px
}

/* This has the BG image for the top part of the nav bar */
.cv-leftnav-panel {
 width: 174px;
 background-image: url("navbody.jpg");
 background-repeat: repeat-y;
 background-position: top left;
 /* margin-bottom: 20px */
 /* Adds some padding to the end of the bar */
}

/* This div holds the actual text of the navigation bar */
.cv-leftnav-body {
 background-image: url("navtop.jpg");
 background-repeat: no-repeat;
 background-position: top left;
 padding: 4px
}

/* This is the footer of the nav bar */
.cv-leftnav-foot {
 background-image: url("navfoot.jpg");
 background-repeat: no-repeat;
 background-position: top left;
 width: 174px;
 height: 11px
}

/* Header sections on the navigation bar */
.cv-nav-section {
 display: block;
 text-align: center;
 font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
 font-size: 14pt;
 color: #FFFFFF;
 font-weight: bold;
 border-bottom: 1px solid #FFFFFF
}

.subsection {
  text-align: center;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 10pt;
  font-weight: bold;
  border-bottom: 1px dashed #999999;
  color: #CCCCCC
}


/*-------------------------------------*
 * Main Content Panel                  *
 *-------------------------------------*/

/* The overall wrapper for the content panel */
.cv-content-wrapper {
 z-index: 300;
 position: absolute;
 top: 159px;
 left: 224px;
 right: 20px;
 background-image: url("body-shadow.jpg");
 background-repeat: repeat;
 background-position: top left
}

/* Provide the eye candy background image */
.cv-content-eyecandy {
 background-image: url("body-topleft.jpg");
 background-repeat: no-repeat;
 background-position: top left
}

/* Top edge of the window */
.cv-content-topedge {
 height: 12px;
 margin-left: 11px;
 background-image: url("border-north.png");
 background-repeat: repeat-x;
 background-position: top left
}

/* Abs positioned top right border corner */
.cv-content-brdrne {
 position: absolute;
 top: 0px;
 right: 0px;
 width: 11px;
 height: 12px;
 background-image: url("border-ne.png");
 background-repeat: no-repeat;
 background-position: top left
}

/* Provides the left border to the content area */
.cv-content-left {
 background-image: url("border-west.png");
 background-repeat: repeat-y;
 background-position: top left;
}

/* Adds the right border to the content area */
.cv-content-right {
 background-image: url("border-east.png");
 background-repeat: repeat-y;
 background-position: top right;
}

/* The wrapper for the actual body area */
.cv-content-body {
 padding-top: 0px;
 padding-left: 8px;
 padding-right: 8px;
 padding-bottom: 8px;
}

/* Bottom edge of the window */
.cv-content-botedge {
 background-image: url("border-south.png");
 background-repeat: repeat-x;
 background-position: bottom left
}

/* Abs position the bottom left border corner */
.cv-content-brdrsw {
 background-image: url("border-sw.png");
 background-repeat: no-repeat;
 background-position: bottom left
}

/* Abs position the bottom right border corner */
.cv-content-brdrse {
 background-image: url("border-se.png");
 background-repeat: no-repeat;
 background-position: bottom right
}
